# Dependencies
node_modules
.pnpm
.yarn

# Production
/build
/dist

# Development
.env*
!.env.example

# Editors
.idea
.editor.vscode
.vscode

# System
.DS_Store
Thumbs.db

# Debug
npm-debug.log
yarn-debug.log
yarn-error.log

# Tests
/coverage

# Misc
.hot-reload.json
